In [65]:

from math import sqrt
from scipy import stats

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pydataset import data
import statistics
import seaborn as sns

In [66]:
from pydataset import data
df = data("iris")
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [67]:
#print the first 3 rows

df.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [4]:
#print the number of rows and columns (shape)

df.shape

(150, 5)

In [5]:
#print the column names
df.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [34]:
# print the data type of each column

df.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [10]:
# print the summary statistics for each of the numeric variables

df.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [69]:
# 5

sheet_url = 'https://docs.google.com/spreadsheets/d/19w21wz3gnjtHUwPX-hOZNf9sEIExmVT4rPlIk1Pqp50/edit#gid=1023018493'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [70]:
df_google_sheet = pd.read_csv(csv_export_url)
df_google_sheet.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,593.30,No,9.0
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,542.40,No,9.1
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,280.85,Yes,3.8
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.0,1237.85,Yes,12.6
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,267.40,Yes,3.2

In [23]:
# assign the first 100 rows to a new dataframe, df_google_sheets_sample

df_google_sheets_sample = df_googlesheet.head(100)

In [24]:


df_google_sheets_sample.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,593.30,No,9.0
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,542.40,No,9.1
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,280.85,Yes,3.8
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.0,1237.85,Yes,12.6
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,267.40,Yes,3.2

In [ ]:
df_go

In [71]:
#print the number of rows of your original dataframe

len(df_google_sheet)

7049

In [29]:
# print the first 5 column names

print(df_google_sheets_sample.columns)

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents',
       'phone_service', 'internet_service', 'contract_type', 'payment_type',
       'monthly_charges', 'total_charges', 'churn', 'tenure'],
      dtype='object')

In [41]:
# print the column names that have a data type of object

df_google_sheets_sample.select_dtypes('O')

   customer_id  gender partner dependents               payment_type churn
0   0002-ORFBO  Female     Yes        Yes               Mailed check    No
1   0003-MKNFE    Male      No         No               Mailed check    No
2   0004-TLHLJ    Male      No         No           Electronic check   Yes
3   0011-IGKFF    Male     Yes         No           Electronic check   Yes
4   0013-EXCHZ  Female     Yes         No               Mailed check   Yes
5   0013-MHZWF  Female      No        Yes    Credit card (automatic)    No
6   0013-SMEOE  Female     Yes         No  Bank transfer (automatic)    No
7   0014-BMAQU    Male     Yes         No    Credit card (automatic)    No
8   0015-UOCOJ  Female      No         No           Electronic check    No
9   0016-QLJIS  Female     Yes        Yes               Mailed check    No
10  0017-DINOC    Male      No         No    Credit card (automatic)    No
11  0017-IUDMW  Female     Yes        Yes    Credit card (automatic)    No
12  0018-NYROU  Female     Yes         No           Electronic check    No
13  0019-EFAEP  Female      No         No  Bank transfer (automatic)    No
14  0019-GFNTW  Female      No         No  Bank transfer (automatic)    No
15  0020-INWCK  Female     Yes        Yes    Credit card (automatic)    No
16  0020-JDNXP  Female     Yes        Yes               Mailed check    No
17  0021-IKXGC  Female      No         No           Electronic check    No
18  0022-TCJCI    Male      No         No    Credit card (automatic)   Yes
19  0023-HGHWL    Male      No         No           Electronic check   Yes
20  0023-UYUPN  Female     Yes         No           Electronic check    No
21  0023-XUOPT  Female     Yes         No           Electronic check   Yes
22  0027-KWYKW  Female     Yes        Yes           Electronic check    No
23  0030-FNXPP  Female      No         No               Mailed check    No
24  0031-PVLZI  Female     Yes        Yes               Mailed check   Yes
25  0032-PGELS  Female     Yes        Yes  Bank transfer (automatic)   Yes
26  0036-IHMOT  Female     Yes        Yes  Bank transfer (automatic)    No
27  0040-HALCW    Male     Yes        Yes    Credit card (automatic)    No
28  0042-JVWOJ    Male      No         No  Bank transfer (automatic)    No
29  0042-RLHYP  Female     Yes        Yes  Bank transfer (automatic)    No
30  0048-LUMLS    Male     Yes        Yes    Credit card (automatic)    No
31  0048-PIHNL  Female     Yes         No  Bank transfer (automatic)    No
32  0052-DCKON    Male     Yes         No  Bank transfer (automatic)    No
33  0052-YNYOT  Female      No         No           Electronic check    No
34  0056-EPFBG    Male     Yes        Yes    Credit card (automatic)    No
35  0057-QBUQH  Female      No        Yes           Electronic check    No
36  0058-EVZWM  Female     Yes         No  Bank transfer (automatic)    No
37  0060-FUALY  Female     Yes         No           Electronic check    No
38  0064-SUDOG  Female     Yes        Yes  Bank transfer (automatic)    No
39  0064-YIJGF    Male     Yes        Yes  Bank transfer (automatic)    No
40  0067-DKWBL    Male      No         No           Electronic check   Yes
41  0068-FIGTF  Female      No         No               Mailed check    No
42  0071-NDAFP    Male     Yes        Yes    Credit card (automatic)    No
43  0074-HDKDG    Male     Yes        Yes  Bank transfer (automatic)    No
44  0076-LVEPS    Male      No        Yes               Mailed check    No
45  0078-XZMHT    Male     Yes         No  Bank transfer (automatic)    No
46  0080-EMYVY  Female      No         No    Credit card (automatic)    No
47  0080-OROZO  Female      No         No           Electronic check    No
48  0082-LDZUE    Male      No         No               Mailed check    No
49  0082-OQIQY    Male      No         No           Electronic check    No
50  0083-PIVIK    Male      No         No           Electronic check    No
51  0089-IIQKO  Female     Yes        Yes    Credit card (automatic)    No
52  0093-EXYQL  Female      No         No           Electronic check    No
53  0093-XWZFY    Male      No         No    Credit card (automatic)   Yes
54  0094-OIFMO  Female      No         No           Electronic check   Yes
55  0096-BXERS  Female     Yes         No           Electronic check    No
56  0096-FCPUF    Male      No         No               Mailed check    No
57  0098-BOWSO    Male      No         No           Electronic check    No
58  0100-DUVFC    Male     Yes         No           Electronic check    No
59  0103-CSITQ  Female     Yes         No  Bank transfer (automatic)    No
60  0104-PPXDV    Male     Yes         No    Credit card (automatic)    No
61  0106-GHRQR    Male      No         No  Bank transfer (automatic)    No
62  0106-UGRDO  Female     Yes         No           Electronic check    No
63  0107-WESLM    Male      No         No           Electronic check   Yes
64  0107-YHINA    Male      No        Yes           Electronic check   Yes
65  0111-KLBQG    Male     Yes        Yes               Mailed check    No
66  0112-QAWRZ    Male     Yes        Yes  Bank transfer (automatic)    No
67  0112-QWPNC    Male     Yes         No           Electronic check   Yes
68  0114-IGABW  Female     Yes         No  Bank transfer (automatic)    No
69  0114-PEGZZ  Female      No         No           Electronic check    No
70  0114-RSRRW  Female     Yes         No  Bank transfer (automatic)    No
71  0115-TFERT    Male     Yes         No           Electronic check   Yes
72  0117-LFRMW    Male     Yes        Yes  Bank transfer (automatic)   Yes
73  0118-JPNOY  Female      No         No    Credit card (automatic)    No
74  0121-SNYRK    Male      No         No               Mailed check    No
75  0122-OAHPZ  Female      No         No           Electronic check   Yes
76  0123-CRBRT  Female     Yes        Yes               Mailed check    No
77  0125-LZQXK    Male      No         No           Electronic check   Yes
78  0128-MKWSG  Female      No        Yes               Mailed check    No
79  0129-KPTWJ    Male     Yes         No           Electronic check    No
80  0129-QMPDR    Male     Yes        Yes  Bank transfer (automatic)    No
81  0130-SXOUN    Male      No         No    Credit card (automatic)    No
82  0133-BMFZO  Female      No         No           Electronic check   Yes
83  0134-XWXCE  Female      No         No  Bank transfer (automatic)    No
84  0135-NMXAP  Female      No         No  Bank transfer (automatic)   Yes
85  0136-IFMYD    Male     Yes         No           Electronic check    No
86  0137-OCGAB  Female      No         No               Mailed check   Yes
87  0137-UDEUO  Female      No         No               Mailed check   Yes
88  0139-IVFJG  Female     Yes         No           Electronic check    No
89  0141-YEAYS  Female      No         No  Bank transfer (automatic)    No
90  0142-GVYSN    Male      No         No           Electronic check    No
91  0147-ESWWR  Female     Yes         No           Electronic check    No
92  0148-DCDOS    Male      No         No  Bank transfer (automatic)   Yes
93  0151-ONTOV  Female      No         No               Mailed check   Yes
94  0156-FVPTA    Male     Yes         No           Electronic check   Yes
95  0164-APGRB  Female      No         No           Electronic check    No
96  0164-XAIRP  Female      No         No  Bank transfer (automatic)    No
97  0168-XZKBB  Female     Yes         No           Electronic check    No
98  0174-QRVVY    Male     Yes        Yes    Credit card (automatic)    No
99  0177-PXBAT    Male     Yes         No  Bank transfer (automatic)    No

In [ ]:
# compute the range for each of the numeric variables.

df_google_sheet

In [75]:
# 6


df_excel = pd.read_clipboard()
df_excel

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,has_phone,has_internet,has_phone_and_internet,partner_depends,cal_monthly_charges,validate,phone_services,int_type,rounded,service_type
0,0002-ORFBO,Female,0.0,Yes,Yes,1.0,1.0,1.0,Mailed check,65.60,...,True,True,True,3.0,65.6,NaN,One Line,False,9.0,internet+phone
1,0003-MKNFE,Male,0.0,No,No,2.0,1.0,0.0,Mailed check,59.90,...,True,True,True,0.0,59.9,NaN,Two or More Lines,True,9.0,internet+phone
2,0004-TLHLJ,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,73.90,...,True,True,True,0.0,73.9,NaN,One Line,True,4.0,internet+phone
3,0011-IGKFF,Male,1.0,Yes,No,1.0,2.0,0.0,Electronic check,98.00,...,True,True,True,1.0,98,NaN,One Line,True,13.0,internet+phone
4,0013-EXCHZ,Female,1.0,Yes,No,1.0,2.0,0.0,Mailed check,83.90,...,True,True,True,1.0,83.9,NaN,One Line,True,3.0,internet+phone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,9992-RRAMN,Male,0.0,Yes,No,2.0,2.0,0.0,Electronic check,85.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7046,9992-UJOEL,Male,0.0,No,No,1.0,1.0,0.0,Mailed check,50.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7047,9993-LHIEB,Male,0.0,Yes,Yes,1.0,1.0,2.0,Mailed check,67.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7048,9995-HOTOH,Male,0.0,Yes,Yes,0.0,1.0,2.0,Electronic check,59.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
df_excel.head(3)

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,has_phone,has_internet,has_phone_and_internet,partner_depends,cal_monthly_charges,validate,phone_services,int_type,rounded,service_type
0,0002-ORFBO,Female,0.0,Yes,Yes,1.0,1.0,1.0,Mailed check,65.6,...,True,True,True,3.0,65.6,NaN,One Line,False,9.0,internet+phone
1,0003-MKNFE,Male,0.0,No,No,2.0,1.0,0.0,Mailed check,59.9,...,True,True,True,0.0,59.9,NaN,Two or More Lines,True,9.0,internet+phone
2,0004-TLHLJ,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,73.9,...,True,True,True,0.0,73.9,NaN,One Line,True,4.0,internet+phone

In [78]:
df_excel.dtypes

customer_id                object
gender                     object
is_senior_citizen         float64
partner                    object
dependents                 object
phone_service             float64
internet_service          float64
contract_type             float64
payment_type               object
monthly_charges           float64
total_charges             float64
churn                      object
tenure                    float64
is_female                  object
has_churned                object
has_phone                  object
has_internet               object
has_phone_and_internet     object
partner_depends           float64
cal_monthly_charges        object
validate                  float64
phone_services             object
int_type                   object
rounded                   float64
service_type               object
dtype: object

In [44]:
# assign the first 100 rows to a new dataframe

df_excel_sample = df_excel.head(100)

In [45]:
df_excel_sample.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure,Unnamed: 13
0,0002-ORFBO,Female,0.0,Yes,Yes,1.0,1.0,1.0,Mailed check,65.6,593.30,No,9.0,NaN
1,0003-MKNFE,Male,0.0,No,No,2.0,1.0,0.0,Mailed check,59.9,542.40,No,9.1,NaN
2,0004-TLHLJ,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,73.9,280.85,Yes,3.8,NaN
3,0011-IGKFF,Male,1.0,Yes,No,1.0,2.0,0.0,Electronic check,98.0,1237.85,Yes,12.6,NaN
4,0013-EXCHZ,Female,1.0,Yes,No,1.0,2.0,0.0,Mailed check,83.9,267.40,Yes,3.2,NaN

In [46]:
# print the number of rows of your original dataframe

len(df_excel)

7050

In [53]:
# print the first 5 column names

N = 5

first_n_column  = df_excel_sample.iloc[: , :N]

In [54]:
first_n_column

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
1             5.1          3.5           1.4          0.2      setosa
2             4.9          3.0           1.4          0.2      setosa
3             4.7          3.2           1.3          0.2      setosa
4             4.6          3.1           1.5          0.2      setosa
5             5.0          3.6           1.4          0.2      setosa
6             5.4          3.9           1.7          0.4      setosa
7             4.6          3.4           1.4          0.3      setosa
8             5.0          3.4           1.5          0.2      setosa
9             4.4          2.9           1.4          0.2      setosa
10            4.9          3.1           1.5          0.1      setosa
11            5.4          3.7           1.5          0.2      setosa
12            4.8          3.4           1.6          0.2      setosa
13            4.8          3.0           1.4          0.1      setosa
14            4.3          3.0           1.1          0.1      setosa
15            5.8          4.0           1.2          0.2      setosa
16            5.7          4.4           1.5          0.4      setosa
17            5.4          3.9           1.3          0.4      setosa
18            5.1          3.5           1.4          0.3      setosa
19            5.7          3.8           1.7          0.3      setosa
20            5.1          3.8           1.5          0.3      setosa
21            5.4          3.4           1.7          0.2      setosa
22            5.1          3.7           1.5          0.4      setosa
23            4.6          3.6           1.0          0.2      setosa
24            5.1          3.3           1.7          0.5      setosa
25            4.8          3.4           1.9          0.2      setosa
26            5.0          3.0           1.6          0.2      setosa
27            5.0          3.4           1.6          0.4      setosa
28            5.2          3.5           1.5          0.2      setosa
29            5.2          3.4           1.4          0.2      setosa
30            4.7          3.2           1.6          0.2      setosa
31            4.8          3.1           1.6          0.2      setosa
32            5.4          3.4           1.5          0.4      setosa
33            5.2          4.1           1.5          0.1      setosa
34            5.5          4.2           1.4          0.2      setosa
35            4.9          3.1           1.5          0.2      setosa
36            5.0          3.2           1.2          0.2      setosa
37            5.5          3.5           1.3          0.2      setosa
38            4.9          3.6           1.4          0.1      setosa
39            4.4          3.0           1.3          0.2      setosa
40            5.1          3.4           1.5          0.2      setosa
41            5.0          3.5           1.3          0.3      setosa
42            4.5          2.3           1.3          0.3      setosa
43            4.4          3.2           1.3          0.2      setosa
44            5.0          3.5           1.6          0.6      setosa
45            5.1          3.8           1.9          0.4      setosa
46            4.8          3.0           1.4          0.3      setosa
47            5.1          3.8           1.6          0.2      setosa
48            4.6          3.2           1.4          0.2      setosa
49            5.3          3.7           1.5          0.2      setosa
50            5.0          3.3           1.4          0.2      setosa
51            7.0          3.2           4.7          1.4  versicolor
52            6.4          3.2           4.5          1.5  versicolor
53            6.9          3.1           4.9          1.5  versicolor
54            5.5          2.3           4.0          1.3  versicolor
55            6.5          2.8           4.6          1.5  versicolor
56            5.7          2.8           4.5          1.3  versicolor
57            6.3          3.3           4.7          1.6  versicolor
58            4.9          2.4           3.3          1.0  versicolor
59            6.6          2.9           4.6          1.3  versicolor
60            5.2          2.7           3.9          1.4  versicolor
61            5.0          2.0           3.5          1.0  versicolor
62            5.9          3.0           4.2          1.5  versicolor
63            6.0          2.2           4.0          1.0  versicolor
64            6.1          2.9           4.7          1.4  versicolor
65            5.6          2.9           3.6          1.3  versicolor
66            6.7          3.1           4.4          1.4  versicolor
67            5.6          3.0           4.5          1.5  versicolor
68            5.8          2.7           4.1          1.0  versicolor
69            6.2          2.2           4.5          1.5  versicolor
70            5.6          2.5           3.9          1.1  versicolor
71            5.9          3.2           4.8          1.8  versicolor
72            6.1          2.8           4.0          1.3  versicolor
73            6.3          2.5           4.9          1.5  versicolor
74            6.1          2.8           4.7          1.2  versicolor
75            6.4          2.9           4.3          1.3  versicolor
76            6.6          3.0           4.4          1.4  versicolor
77            6.8          2.8           4.8          1.4  versicolor
78            6.7          3.0           5.0          1.7  versicolor
79            6.0          2.9           4.5          1.5  versicolor
80            5.7          2.6           3.5          1.0  versicolor
81            5.5          2.4           3.8          1.1  versicolor
82            5.5          2.4           3.7          1.0  versicolor
83            5.8          2.7           3.9          1.2  versicolor
84            6.0          2.7           5.1          1.6  versicolor
85            5.4          3.0           4.5          1.5  versicolor
86            6.0          3.4           4.5          1.6  versicolor
87            6.7          3.1           4.7          1.5  versicolor
88            6.3          2.3           4.4          1.3  versicolor
89            5.6          3.0           4.1          1.3  versicolor
90            5.5          2.5           4.0          1.3  versicolor
91            5.5          2.6           4.4          1.2  versicolor
92            6.1          3.0           4.6          1.4  versicolor
93            5.8          2.6           4.0          1.2  versicolor
94            5.0          2.3           3.3          1.0  versicolor
95            5.6          2.7           4.2          1.3  versicolor
96            5.7          3.0           4.2          1.2  versicolor
97            5.7          2.9           4.2          1.3  versicolor
98            6.2          2.9           4.3          1.3  versicolor
99            5.1          2.5           3.0          1.1  versicolor
100           5.7          2.8           4.1          1.3  versicolor
101           6.3          3.3           6.0          2.5   virginica
102           5.8          2.7           5.1          1.9   virginica
103           7.1          3.0           5.9          2.1   virginica
104           6.3          2.9           5.6          1.8   virginica
105           6.5          3.0           5.8          2.2   virginica
106           7.6          3.0           6.6          2.1   virginica
107           4.9          2.5           4.5          1.7   virginica
108           7.3          2.9           6.3          1.8   virginica
109           6.7          2.5           5.8          1.8   virginica
110           7.2          3.6           6.1          2.5   virginica
111           6.5          3.2           5.1          2.0   virginica
112           6.4          2.7           5.3          1.9   virginica
113           6.8          3.0           5.5          2.1   virginica
114           5.7          2.5           5.0          2.0   virginica
115           5.8          2.8           5.1          2.4   virginica
116           6.4          3.2           5.3          2.3   virginica
117           6.5          3.0           5.5          1.8   virginica
118           7.7          3.8           6.7          2.2   virginica
119           7.7          2.6           6.9          2.3   virginica
120           6.0          2.2           5.0          1.5   virginica
121           6.9          3.2           5.7          2.3   virginica
122           5.6          2.8           4.9          2.0   virginica
123           7.7          2.8           6.7          2.0   virginica
124           6.3          2.7           4.9          1.8   virginica
125           6.7          3.3           5.7          2.1   virginica
126           7.2          3.2           6.0          1.8   virginica
127           6.2          2.8           4.8          1.8   virginica
128           6.1          3.0           4.9          1.8   virginica
129           6.4          2.8           5.6          2.1   virginica
130           7.2          3.0           5.8          1.6   virginica
131           7.4          2.8           6.1          1.9   virginica
132           7.9          3.8           6.4          2.0   virginica
133           6.4          2.8           5.6          2.2   virginica
134           6.3          2.8           5.1          1.5   virginica
135           6.1          2.6           5.6          1.4   virginica
136           7.7          3.0           6.1          2.3   virginica
137           6.3          3.4           5.6          2.4   virginica
138           6.4          3.1           5.5          1.8   virginica
139           6.0          3.0           4.8          1.8   virginica
140           6.9          3.1           5.4          2.1   virginica
141           6.7          3.1           5.6          2.4   virginica
142           6.9          3.1           5.1          2.3   virginica
143           5.8          2.7           5.1          1.9   virginica
144           6.8          3.2           5.9          2.3   virginica
145           6.7          3.3           5.7          2.5   virginica
146           6.7          3.0           5.2          2.3   virginica
147           6.3          2.5           5.0          1.9   virginica
148           6.5          3.0           5.2          2.0   virginica
149           6.2          3.4           5.4          2.3   virginica
150           5.9          3.0           5.1          1.8   virginica

In [55]:
# print the column names that have a data type of object

df_excel_sample.select_dtypes('O')

        Species
1        setosa
2        setosa
3        setosa
4        setosa
5        setosa
6        setosa
7        setosa
8        setosa
9        setosa
10       setosa
11       setosa
12       setosa
13       setosa
14       setosa
15       setosa
16       setosa
17       setosa
18       setosa
19       setosa
20       setosa
21       setosa
22       setosa
23       setosa
24       setosa
25       setosa
26       setosa
27       setosa
28       setosa
29       setosa
30       setosa
31       setosa
32       setosa
33       setosa
34       setosa
35       setosa
36       setosa
37       setosa
38       setosa
39       setosa
40       setosa
41       setosa
42       setosa
43       setosa
44       setosa
45       setosa
46       setosa
47       setosa
48       setosa
49       setosa
50       setosa
51   versicolor
52   versicolor
53   versicolor
54   versicolor
55   versicolor
56   versicolor
57   versicolor
58   versicolor
59   versicolor
60   versicolor
61   versicolor
62   versicolor
63   versicolor
64   versicolor
65   versicolor
66   versicolor
67   versicolor
68   versicolor
69   versicolor
70   versicolor
71   versicolor
72   versicolor
73   versicolor
74   versicolor
75   versicolor
76   versicolor
77   versicolor
78   versicolor
79   versicolor
80   versicolor
81   versicolor
82   versicolor
83   versicolor
84   versicolor
85   versicolor
86   versicolor
87   versicolor
88   versicolor
89   versicolor
90   versicolor
91   versicolor
92   versicolor
93   versicolor
94   versicolor
95   versicolor
96   versicolor
97   versicolor
98   versicolor
99   versicolor
100  versicolor
101   virginica
102   virginica
103   virginica
104   virginica
105   virginica
106   virginica
107   virginica
108   virginica
109   virginica
110   virginica
111   virginica
112   virginica
113   virginica
114   virginica
115   virginica
116   virginica
117   virginica
118   virginica
119   virginica
120   virginica
121   virginica
122   virginica
123   virginica
124   virginica
125   virginica
126   virginica
127   virginica
128   virginica
129   virginica
130   virginica
131   virginica
132   virginica
133   virginica
134   virginica
135   virginica
136   virginica
137   virginica
138   virginica
139   virginica
140   virginica
141   virginica
142   virginica
143   virginica
144   virginica
145   virginica
146   virginica
147   virginica
148   virginica
149   virginica
150   virginica

In [ ]:
# compute the range for each of the numeric variables.

In [61]:
# 7

df_google = pd.read_clipboard()
df_google

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,1.0,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1.0,0.0,PC 17599,71.2833,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,1.0,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1.0,0.0,PC 17599,71.2833,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
df_google.shape

(999, 26)

In [64]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25'],
      dtype='object')